*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: lightcyan;
}
.App {
  margin-top: 20px;
  text-align: center;
  background-color: lightcyan;
  color:darkgreen;
}

.generatepara{
  padding:25px;
}
.generatepara span{
  font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  padding:10px 20px;
  background-color: darkcyan;
  color:white;
  border-radius: 5px;
  border: none;
  outline: none;
  border:2px solid darkcyan;
}
input{
  padding:10px;
  margin:0px 20px;
  border:2px solid black;
  outline: none;
  width: 100px;
  border-radius: 5px;


}
.para{
  width: 70%;
  padding:20px;
  border-radius: 10px;
  border: 2px solid darkcyan;
  margin:20px;
}
.paraContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
